<form action="/payment/results">
  <div>
  <label for="apr">APR</label>
  <input id="apr" name="user_apr" placeholder="E.g. 5.42">
  </div>
  
  <div>
  <label for="years">Number of years</label>
  <input id="years" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
  <label for="principal">Principal</label>
  <input id="principal" name="user_principal" placeholder="How much principal?">
  </div>

  <div><button>Calculate monthly payment</button></div>
</form>
