<form action="/square/results">
  <label for="square_number">Enter a number</label>
  <div><input id="square_number" name="number" placeholder="What number do you want to take the square of?"></div>
  <div><button>Calculate Square</button></div>
</form>
